<div class="dropdown">
  <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
    Generate New Recipe
  </button>
  <ul class="dropdown-menu">
    <li><a class="dropdown-item" href="/recipe/new">Generate New Breakfast Recipe</a></li>
    <li><a class="dropdown-item" href="/recipe/new">Generate New Lunch Recipe</a></li>
    <li><a class="dropdown-item" href="/recipe/new">Generate New Dinner Recipe</a></li>
  </ul>
</div>