<div class="container-xl">
<h1 class = "display-2 text-center" >About Us</h1>
  <br>
  <div class="text-center">
    <h2>Our Mission</h2>
      <p class = "text-black" >At Pantry Wizard, we believe that everyone deserves access to healthy, delicious food. We're on a mission to reduce food waste and alleviate food insecurity by providing personalized meal planning that simplifies the decision-making process and empowers individuals to take control of their nutrition. Our app is designed to meet the needs of neurodivergent individuals, picky eaters, and anyone facing time or resource constraints, so they can focus on what really matters in their lives. Join us in making a positive impact on our communities, one meal at a time.</p>
  </div>
  <br>
  <div class="text-center">
    <h2>Our Team</h2>
    <table class="table mx-auto">
      <tr>
        <td><img src="https://avatars.githubusercontent.com/u/116330317?s=120&v=4"></td>
        <td><img src="https://avatars.githubusercontent.com/u/88596340?s=120&v=4"></td>
        <td><img src="https://avatars.githubusercontent.com/u/104170346?s=120&v=4"></td>
        <td><img src="https://avatars.githubusercontent.com/u/71752551?s=120&v=4"></td>
        <td><img src="https://avatars.githubusercontent.com/u/117066950?s=120&v=4"></td>
      </tr>
      <tr>
        <td>Chris Crane</td>
        <td>Conner Van Loan</td>
        <td>Caleb Thomas</td>
        <td>Brian Hayes</td>
        <td>Dawson Timmons</td>
      </tr>
    </table>
    <br>
      <p class = "text-black" >Pantry Wizard was created by a team of five software engineering students at the Turing School of Software and Design. We are passionate about making a positive impact on our communities and are excited to share our app with you.</p>
</div>